<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" />
  <title>loop</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=El+Messiri&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link href="/css/query.css" rel="stylesheet" type="text/css" />
  <link href="/css/navbar.css" rel="stylesheet" type="text/css" />
  <link href="/css/sideBar.css" rel="stylesheet" type="text/css" />
  <link href="/images/icon.png" rel="icon" />
</head>

<body>
  <div class="menuButton">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
  <ul class="navbar">
    <a href="/query">Home</a>
    <a href="#" name=<%= user.userName %>>Following</a>
    <a href="#" class="savedPosts active">Saved Posts</a>
    <a class="profile" href= <%= "/" + user._id %> >Profile <i class="fa fa-user" aria-hidden="true"></i></a>
    <a href="/logout" class="logout">Logout ➡</a>
  </ul>
  <div class="side">
    <div class="sideBar">
      <h1>loop</h1>
      <div class="user">
        <img class="avatar" src=<%= avatar %> alt="Avatar" title="avatar" />
        <h2> <%= user.userName %> </h2>
        <div class="search">
          <div class="searchBar">
            <input type="text" placeholder="Search users here..."/>
            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
          </div>
          <div class="matchedUsers"></div>
        </div>
        <a href="#" class="page pages">Home</a>
        <a class="following pages" href="#" name=<%= user.userName %>>Following</a>
        <a class="pages postQue" name=<%= user.userName %> >Post a question</a>
        <a href="/saved-posts" class="savedPosts pages">Saved Posts</a>
        <a class="profile pages" href= <%= "/" + user._id %> >Profile <i class="fa fa-user" aria-hidden="true"></i></a>
        <a href="/logout" class="logout pages">Logout ➡</a>
      </div>
    </div>
    <button class="sideBarButton"><span>▶</span></button>
  </div>
  <div class="newPost">
    <div class="close">
      <span></span>
      <span></span>
    </div>
    <form method="post" action="/newPost">
      <textarea name="question" class="textNewPost" placeholder="Question....."></textarea>
      <button type="submit">Post</button>
    </form>
  </div>
  <div class="posts">
    <% for(var i = 0; i < queries.length; i++){ %>
    <div class="queryPost">
      <div class="queNans">
        <div class="que">
          <div class="question"><%= queries[i].que %></div>
          <div class="postedBy">
            <img class="avatar" src=<%= "/images/avatars/" + queries[i].avatar + ".png" %> />
            <div class="userData">
              <p> <%= queries[i].postedBy %> </p>
              <p> <%= queries[i].mail %> </p>
            </div>
          </div>
          <% if(user.saved.indexOf(queries[i]._id.toString()) === -1) { %>
              <button class="follow" title="Save Post">+</button>
          <% } else { %>
              <button class="follow saved" title="Saved">+</button>
          <% } %>
          <buton class="answerQuery" href="/answerQuery" name=<%= queries[i]._id %> >Answer <i class="fa fa-pencil" aria-hidden="true"></i></button>
        </div>
        <div class="answers">
          <% for(var j = 0; j < queries[i].answers.length; j++ ) { %>
          <div class="answer">
            <p> <%= queries[i].answers[j].answer %> </p>
            <div class="likep" name= <%= queries[i]._id %> >
              <div class="postedBy">
                <img class="avatar" src= <%= "/images/avatars/" + queries[i].answers[j].avatar + ".png" %> />
                <div class="userData">
                  <p> <%= queries[i].answers[j].by %> </p>
                  <p> <%= queries[i].answers[j].mail %> </p>
                </div>
              </div>
              <% if(user.likedPosts.indexOf(queries[i].answers[j]._id.toString()) === -1){ %>
                 <i class='fa fa-heart unliked' style="margin-right: 5px" name= <%= queries[i].answers[j]._id %> ></i><span class="numLikes"><%= queries[i].answers[j].likes %></span>
              <% } else { %>
                <i class='fa fa-heart liked' style="margin-right: 5px" name= <%= queries[i].answers[j]._id %> ></i><span class="numLikes"><%= queries[i].answers[j].likes %></span>
              <% } %>
            </div>
          </div>
          <% } %>
        </div>
      </div>
      <div class="comments">
        <h1>Comments</h1>
      </div>
    </div>
    <% } %>
  </div>
  <div class="newAnswer">
    <div class="close">
      <span></span>
      <span></span>
    </div>
    <form method="post" action="/newAnswer">
      <input class="hiddenInput" name="queID" />
      <textarea class="textNewAnswer" placeholder="Answer....." name="newAnswer"></textarea>
      <button type="submit">Post</button>
    </form>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="/query.js"></script>
</html>
